
@model Vidly.Models.Movie
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>@Model.Name
    </h1>*@
<table class="table table-bordered table-hover">
    @if (Model != null)
    {
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
            <th>Available Stock</th>
            <th>Release Date</th>
            <th>Date added</th>
        </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Genre.Name</td>
            <td>@Model.AvailableStocks</td>
            <td>@Model.ReleaseDate</td>
            <td>@Model.DateAdded</td>
        </tr>

    }
    else
    {
        <text>No record found</text>
    }
</table>
